

# **Data Science, 2024**



A demonstration of exploratory data analysis to accompany the Lecture.

In [2]:
import numpy as np
import pandas as pd

These options are used to customize the display of pandas DataFrames for better readability and precision when working with data.

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
#%matplotlib inline
plt.rcParams['figure.figsize'] = (12, 9)

sns.set()
sns.set_context('talk')

np.set_printoptions(threshold=20, precision=2, suppress=True)
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 2)
# This option stops scientific notation for pandas
pd.set_option('display.float_format', '{:.2f}'.format)

# Tuberculosis in the United States

What can we say about the presence of Tuberculosis in the United States?

Let's look at the data included in the [original CDC article](https://www.cdc.gov/mmwr/volumes/71/wr/mm7112a1.htm?s_cid=mm7112a1_w#T1_down) published in 2021.

**CSV and Nice Field Names**

Suppose Table 1 was saved as a CSV file located in `data/cdc_tuberculosis.csv`. We can then explore the CSV (which is a text
file, and does not contain binary-encoded data) in many ways:
1. Using a text editor like the one in DataHub (right-click on the file and use `Open->Editor`), emacs, vim, VSCode, etc.
2. Opening the CSV directly in DataHub (read-only), Excel, Google Sheets, etc.
3. The Python file object
4. pandas, using `pd.read_csv()`

Let's start with the first two so we solidify the idea of a CSV as **rectangular data (i.e., tabular data) stored as comma-separated values**.

Try 1, 2.

Then Let's see the tried-and-true Data Science approach: pandas.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
# Read tuberculosis data
tuberculosis = pd.read_csv('C:\\Users\\zafar\\Downloads\\KM_notebook\\cdc_tuberculosis.csv')
tuberculosis

,Unnamed: 0,No. of TB cases,Unnamed: 2,Unnamed: 3,TB incidence,Unnamed: 5,Unnamed: 6
0,U.S. jurisdiction,2019,2020,2021,2019.00,2020.00,2021.00
1,Total,"8,900","7,173","7,860",2.71,2.16,2.37
2,Alabama,87,72,92,1.77,1.43,1.83
3,Alaska,58,58,58,7.91,7.92,7.92
4,Arizona,183,136,129,2.51,1.89,1.77
...,...,...,...,...,...,...,...
48,Virginia,191,169,161,2.23,1.96,1.86
49,Washington,221,163,199,2.90,2.11,2.57
50,West Virginia,9,13,7,0.50,0.73,0.39
51,Wisconsin,51,35,66,0.88,0.59,1.12
52,Wyoming,1,0,3,0.17,0.00,0.52

Wait, what's up with the "Unnamed" column names? And the first row, for that matter?

Congratulations -- you're ready to wrangle your data. Because of how things are stored, we'll need to clean the data a bit to name our columns better.

A reasonable first step is to identify the row with the right header. The `pd.read_csv()` function ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)) has the convenient `header` parameter:

In [28]:
# Answer Here
tuberculosis = pd.read_csv('C:\\Users\\zafar\\Downloads\\KM_notebook\\cdc_tuberculosis.csv', header=1)

   U.S. jurisdiction   2019   2020   2021  2019.1  2020.1  2021.1
0              Total  8,900  7,173  7,860    2.71    2.16    2.37
1            Alabama     87     72     92    1.77    1.43    1.83
2             Alaska     58     58     58    7.91    7.92    7.92
3            Arizona    183    136    129    2.51    1.89    1.77
4           Arkansas     64     59     69    2.12    1.96    2.28
..               ...    ...    ...    ...     ...     ...     ...
47          Virginia    191    169    161    2.23    1.96    1.86
48        Washington    221    163    199    2.90    2.11    2.57
49     West Virginia      9     13      7    0.50    0.73    0.39
50         Wisconsin     51     35     66    0.88    0.59    1.12
51           Wyoming      1      0      3    0.17    0.00    0.52

[52 rows x 7 columns]

In [45]:
tuberculosis.rename(columns = {'2019' : 'TB cases 2019', '2020': 'TB cases 2020', '2021': 'TB cases 2021','2019.1':'TB incidence 2019',
                             '2020.1':'TB incidence 2020', '2021.1': 'TB incidence 2021'} , inplace = True )
tuberculosis

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
0,Total,"8,900","7,173","7,860",2.71,2.16,2.37
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
...,...,...,...,...,...,...,...
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

Wait...but now we can't differentiate betwen the "Number of TB cases" and "TB incidence" year columns. pandas has tried to make our lives easier by automatically adding ".1" to the latter columns, but this doesn't help us as humans understand the data.

We can do this manually with `df.rename()`

In [7]:
# Rename column List

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
0,Total,"8,900","7,173","7,860",2.71,2.16,2.37
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,"2,111","1,706","1,750",5.35,4.32,4.46
6,Colorado,66,52,58,1.15,0.90,1.00
7,Connecticut,67,54,54,1.88,1.50,1.50
8,Delaware,18,17,43,1.84,1.71,4.29
9,District of Columbia,24,19,19,3.39,2.75,2.84
10,Florida,558,412,499,2.60,1.91,2.29
11,Georgia,302,221,228,2.84,2.06,2.11
12,Hawaii,99,92,106,6.99,6.34,7.35
13,Idaho,7,8,4,0.39,0.43,0.21
14,Illinois,326,216,255,2.57,1.69,2.01
15,Indiana,108,92,127,1.60,1.36,1.87
16,Iowa,52,39,49,1.65,1.22,1.53
17,Kansas,37,37,43,1.27,1.26,1.47
18,Kentucky,66,67,57,1.48,1.49,1.26
19,Louisiana,88,99,86,1.89,2.13,1.86
20,Maine,18,17,14,1.34,1.25,1.02
21,Maryland,209,148,192,3.45,2.40,3.11
22,Massachusetts,178,142,151,2.58,2.02,2.16
23,Michigan,131,101,136,1.31,1.00,1.35
24,Minnesota,148,117,134,2.62,2.05,2.35
25,Mississippi,58,41,45,1.95,1.39,1.53
26,Missouri,70,79,77,1.14,1.28,1.25
27,Montana,2,4,3,0.19,0.37,0.27
28,Nebraska,17,33,22,0.88,1.68,1.12
29,Nevada,53,57,61,1.71,1.83,1.94
30,New Hampshire,6,12,12,0.44,0.87,0.86
31,New Jersey,310,245,279,3.49,2.64,3.01
32,New Mexico,41,29,24,1.95,1.37,1.13
33,New York,746,605,681,3.83,3.00,3.43
34,North Carolina,185,159,178,1.76,1.52,1.69
35,North Dakota,18,10,15,2.36,1.28,1.94
36,Ohio,150,130,149,1.28,1.10,1.26
37,Oklahoma,73,67,69,1.84,1.69,1.73
38,Oregon,70,67,78,1.66,1.58,1.84
39,Pennsylvania,199,156,166,1.55,1.20,1.28
40,Rhode Island,14,7,17,1.32,0.64,1.55
41,South Carolina,80,67,88,1.55,1.31,1.70
42,South Dakota,16,16,12,1.80,1.80,1.34
43,Tennessee,129,113,85,1.89,1.63,1.22
44,Texas,"1,154",883,991,3.98,3.02,3.36
45,Utah,27,29,17,0.84,0.88,0.51
46,Vermont,4,3,2,0.64,0.47,0.31
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

# Record Granularity

You might already be wondering: What's up with that first record?

Row 0 is what we call a **rollup record**, or summary record. It's often useful when displaying tables to humans. The **granularity** of record 0 (Totals) vs the rest of the records (States) is different.


Okay, EDA step two. How was the rollup record aggregated?

Let's check if Total TB cases is the sum of all state TB cases. If we sum over all rows, we should get **2x** the total cases in each of our TB cases by year (why?).

In [46]:
tuberculosis.sum()

U.S. jurisdiction    TotalAlabamaAlaskaArizonaArkansasCaliforniaCol...
TB cases 2019        8,9008758183642,111666718245583029973261085237...
TB cases 2020        7,1737258136591,706525417194122219282169239376...
TB cases 2021        7,8609258129691,750585443194992281064255127494...
TB incidence 2019                                               109.94
TB incidence 2020                                                93.09
TB incidence 2021                                               102.94
dtype: object

In [8]:
# Apply sum to tb DataFrame

U.S. jurisdiction    TotalAlabamaAlaskaArizonaArkansasCaliforniaCol...
TB cases 2019        8,9008758183642,111666718245583029973261085237...
TB cases 2020        7,1737258136591,706525417194122219282169239376...
TB cases 2021        7,8609258129691,750585443194992281064255127494...
TB incidence 2019                                               109.94
TB incidence 2020                                                93.09
TB incidence 2021                                               102.94
dtype: object


Whoa, what's going on? Check out the column types:

In [47]:
tuberculosis.dtypes

U.S. jurisdiction     object
TB cases 2019         object
TB cases 2020         object
TB cases 2021         object
TB incidence 2019    float64
TB incidence 2020    float64
TB incidence 2021    float64
dtype: object

In [9]:
# Find datatype for each column

tuberculosis

U.S. jurisdiction     object
TB cases 2019         object
TB cases 2020         object
TB cases 2021         object
TB incidence 2019    float64
TB incidence 2020    float64
TB incidence 2021    float64
dtype: object

Looks like those commas are causing all TB cases to be read as the `object` datatype, or **storage type** (close to the Python string datatype), so pandas is concatenating strings instead of adding integers.

Fortunately `read_csv` also has a `thousands` parameter (for what it's worth, I didn't know this beforehand--I [googled](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) this):

In [4]:
tuberculosis = pd.read_csv('C:\\Users\\zafar\\Downloads\\KM_notebook\\cdc_tuberculosis.csv', header=1, thousands = ',')
tuberculosis

   U.S. jurisdiction  2019  2020  2021  2019.1  2020.1  2021.1
0              Total  8900  7173  7860    2.71    2.16    2.37
1            Alabama    87    72    92    1.77    1.43    1.83
2             Alaska    58    58    58    7.91    7.92    7.92
3            Arizona   183   136   129    2.51    1.89    1.77
4           Arkansas    64    59    69    2.12    1.96    2.28
..               ...   ...   ...   ...     ...     ...     ...
47          Virginia   191   169   161    2.23    1.96    1.86
48        Washington   221   163   199    2.90    2.11    2.57
49     West Virginia     9    13     7    0.50    0.73    0.39
50         Wisconsin    51    35    66    0.88    0.59    1.12
51           Wyoming     1     0     3    0.17    0.00    0.52

[52 rows x 7 columns]

In [5]:
tuberculosis.rename(columns = {'2019' : 'TB cases 2019', '2020': 'TB cases 2020', '2021': 'TB cases 2021','2019.1':'TB incidence 2019',
                             '2020.1':'TB incidence 2020', '2021.1': 'TB incidence 2021'} , inplace = True )
tuberculosis

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
0,Total,8900,7173,7860,2.71,2.16,2.37
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
...,...,...,...,...,...,...,...
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
0,Total,8900,7173,7860,2.71,2.16,2.37
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,2111,1706,1750,5.35,4.32,4.46
6,Colorado,66,52,58,1.15,0.90,1.00
7,Connecticut,67,54,54,1.88,1.50,1.50
8,Delaware,18,17,43,1.84,1.71,4.29
9,District of Columbia,24,19,19,3.39,2.75,2.84
10,Florida,558,412,499,2.60,1.91,2.29
11,Georgia,302,221,228,2.84,2.06,2.11
12,Hawaii,99,92,106,6.99,6.34,7.35
13,Idaho,7,8,4,0.39,0.43,0.21
14,Illinois,326,216,255,2.57,1.69,2.01
15,Indiana,108,92,127,1.60,1.36,1.87
16,Iowa,52,39,49,1.65,1.22,1.53
17,Kansas,37,37,43,1.27,1.26,1.47
18,Kentucky,66,67,57,1.48,1.49,1.26
19,Louisiana,88,99,86,1.89,2.13,1.86
20,Maine,18,17,14,1.34,1.25,1.02
21,Maryland,209,148,192,3.45,2.40,3.11
22,Massachusetts,178,142,151,2.58,2.02,2.16
23,Michigan,131,101,136,1.31,1.00,1.35
24,Minnesota,148,117,134,2.62,2.05,2.35
25,Mississippi,58,41,45,1.95,1.39,1.53
26,Missouri,70,79,77,1.14,1.28,1.25
27,Montana,2,4,3,0.19,0.37,0.27
28,Nebraska,17,33,22,0.88,1.68,1.12
29,Nevada,53,57,61,1.71,1.83,1.94
30,New Hampshire,6,12,12,0.44,0.87,0.86
31,New Jersey,310,245,279,3.49,2.64,3.01
32,New Mexico,41,29,24,1.95,1.37,1.13
33,New York,746,605,681,3.83,3.00,3.43
34,North Carolina,185,159,178,1.76,1.52,1.69
35,North Dakota,18,10,15,2.36,1.28,1.94
36,Ohio,150,130,149,1.28,1.10,1.26
37,Oklahoma,73,67,69,1.84,1.69,1.73
38,Oregon,70,67,78,1.66,1.58,1.84
39,Pennsylvania,199,156,166,1.55,1.20,1.28
40,Rhode Island,14,7,17,1.32,0.64,1.55
41,South Carolina,80,67,88,1.55,1.31,1.70
42,South Dakota,16,16,12,1.80,1.80,1.34
43,Tennessee,129,113,85,1.89,1.63,1.22
44,Texas,1154,883,991,3.98,3.02,3.36
45,Utah,27,29,17,0.84,0.88,0.51
46,Vermont,4,3,2,0.64,0.47,0.31
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

In [6]:
tuberculosis.dtypes

U.S. jurisdiction     object
TB cases 2019          int64
TB cases 2020          int64
TB cases 2021          int64
TB incidence 2019    float64
TB incidence 2020    float64
TB incidence 2021    float64
dtype: object

In [7]:
tuberculosis.sum()

U.S. jurisdiction    TotalAlabamaAlaskaArizonaArkansasCaliforniaCol...
TB cases 2019                                                    17800
TB cases 2020                                                    14346
TB cases 2021                                                    15720
TB incidence 2019                                               109.94
TB incidence 2020                                                93.09
TB incidence 2021                                               102.94
dtype: object

In [11]:
# now apply sum
# Answer Here

U.S. jurisdiction    TotalAlabamaAlaskaArizonaArkansasCaliforniaCol...
TB cases 2019                                                    17800
TB cases 2020                                                    14346
TB cases 2021                                                    15720
TB incidence 2019                                               109.94
TB incidence 2020                                                93.09
TB incidence 2021                                               102.94
dtype: object

The Total TB cases look right. Phew!

(We'll leave it to your own EDA to figure out how the TB incidence "Totals" were aggregated.)

Let's just look at the records with **state-level granularity**:

In [95]:
#tuberculosis = pd.read_csv('C:\\Users\\zafar\\Downloads\\KM_notebook\\cdc_tuberculosis.csv',skiprows = [2] , header=1,thousands = ',')
#tuberculosis

   U.S. jurisdiction  2019  2020  2021  2019.1  2020.1  2021.1
0            Alabama    87    72    92    1.77    1.43    1.83
1             Alaska    58    58    58    7.91    7.92    7.92
2            Arizona   183   136   129    2.51    1.89    1.77
3           Arkansas    64    59    69    2.12    1.96    2.28
4         California  2111  1706  1750    5.35    4.32    4.46
..               ...   ...   ...   ...     ...     ...     ...
46          Virginia   191   169   161    2.23    1.96    1.86
47        Washington   221   163   199    2.90    2.11    2.57
48     West Virginia     9    13     7    0.50    0.73    0.39
49         Wisconsin    51    35    66    0.88    0.59    1.12
50           Wyoming     1     0     3    0.17    0.00    0.52

[51 rows x 7 columns]

In [8]:
tuberculosis = tuberculosis.drop(index=0)
tuberculosis

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,2111,1706,1750,5.35,4.32,4.46
...,...,...,...,...,...,...,...
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

In [121]:
tuberculosis

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,2111,1706,1750,5.35,4.32,4.46
...,...,...,...,...,...,...,...
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

In [12]:
# Answer Here

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,2111,1706,1750,5.35,4.32,4.46
6,Colorado,66,52,58,1.15,0.90,1.00
7,Connecticut,67,54,54,1.88,1.50,1.50
8,Delaware,18,17,43,1.84,1.71,4.29
9,District of Columbia,24,19,19,3.39,2.75,2.84
10,Florida,558,412,499,2.60,1.91,2.29
11,Georgia,302,221,228,2.84,2.06,2.11
12,Hawaii,99,92,106,6.99,6.34,7.35
13,Idaho,7,8,4,0.39,0.43,0.21
14,Illinois,326,216,255,2.57,1.69,2.01
15,Indiana,108,92,127,1.60,1.36,1.87
16,Iowa,52,39,49,1.65,1.22,1.53
17,Kansas,37,37,43,1.27,1.26,1.47
18,Kentucky,66,67,57,1.48,1.49,1.26
19,Louisiana,88,99,86,1.89,2.13,1.86
20,Maine,18,17,14,1.34,1.25,1.02
21,Maryland,209,148,192,3.45,2.40,3.11
22,Massachusetts,178,142,151,2.58,2.02,2.16
23,Michigan,131,101,136,1.31,1.00,1.35
24,Minnesota,148,117,134,2.62,2.05,2.35
25,Mississippi,58,41,45,1.95,1.39,1.53
26,Missouri,70,79,77,1.14,1.28,1.25
27,Montana,2,4,3,0.19,0.37,0.27
28,Nebraska,17,33,22,0.88,1.68,1.12
29,Nevada,53,57,61,1.71,1.83,1.94
30,New Hampshire,6,12,12,0.44,0.87,0.86
31,New Jersey,310,245,279,3.49,2.64,3.01
32,New Mexico,41,29,24,1.95,1.37,1.13
33,New York,746,605,681,3.83,3.00,3.43
34,North Carolina,185,159,178,1.76,1.52,1.69
35,North Dakota,18,10,15,2.36,1.28,1.94
36,Ohio,150,130,149,1.28,1.10,1.26
37,Oklahoma,73,67,69,1.84,1.69,1.73
38,Oregon,70,67,78,1.66,1.58,1.84
39,Pennsylvania,199,156,166,1.55,1.20,1.28
40,Rhode Island,14,7,17,1.32,0.64,1.55
41,South Carolina,80,67,88,1.55,1.31,1.70
42,South Dakota,16,16,12,1.80,1.80,1.34
43,Tennessee,129,113,85,1.89,1.63,1.22
44,Texas,1154,883,991,3.98,3.02,3.36
45,Utah,27,29,17,0.84,0.88,0.51
46,Vermont,4,3,2,0.64,0.47,0.31
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

What do each of these values represent? Why?

To the lecture!


# Gather Census Data

U.S. Census population estimates [source](https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-total.html) (2019), [source](https://www.census.gov/data/tables/time-series/demo/popest/2020s-state-total.html) (2020-2021).

Running the below cells cleans the data. We encourage you to closely explore the CSV and study these lines after lecture...

There are a few new methods here:
* `df.convert_dtypes()` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.convert_dtypes.html)) conveniently converts all float dtypes into ints and is out of scope for the class.
* `df.drop_na()` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)) will be explained in more detail next time.

In [31]:
censusdata = pd.read_csv('C:\\Users\\zafar\\Downloads\\KM_notebook\\nst-est2019-01.csv', header=3 ,thousands = ',')
censusdata

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,308745538.00,308758105.00,309321666.00,311556874.00,313830990.00,315993715.00,318301008.00,320635163.00,322941311.00,324985539.00,326687501.00,328239523.00
1,Northeast,55317240.00,55318443.00,55380134.00,55604223.00,55775216.00,55901806.00,56006011.00,56034684.00,56042330.00,56059240.00,56046620.00,55982803.00
2,Midwest,66927001.00,66929725.00,66974416.00,67157800.00,67336743.00,67560379.00,67745167.00,67860583.00,67987540.00,68126781.00,68236628.00,68329004.00
3,South,114555744.00,114563030.00,114866680.00,116006522.00,117241208.00,118364400.00,119624037.00,120997341.00,122351760.00,123542189.00,124569433.00,125580448.00
4,West,71945553.00,71946907.00,72100436.00,72788329.00,73477823.00,74167130.00,74925793.00,75742555.00,76559681.00,77257329.00,77834820.00,78347268.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Release Date: December 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Load 2010s census data
# Answer

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,308745538.0,308758105.0,309321666.0,311556874.0,313830990.0,315993715.0,318301008.0,320635163.0,322941311.0,324985539.0,326687501.0,328239523.0
1,Northeast,55317240.0,55318443.0,55380134.0,55604223.0,55775216.0,55901806.0,56006011.0,56034684.0,56042330.0,56059240.0,56046620.0,55982803.0
2,Midwest,66927001.0,66929725.0,66974416.0,67157800.0,67336743.0,67560379.0,67745167.0,67860583.0,67987540.0,68126781.0,68236628.0,68329004.0
3,South,114555744.0,114563030.0,114866680.0,116006522.0,117241208.0,118364400.0,119624037.0,120997341.0,122351760.0,123542189.0,124569433.0,125580448.0
4,West,71945553.0,71946907.0,72100436.0,72788329.0,73477823.0,74167130.0,74925793.0,75742555.0,76559681.0,77257329.0,77834820.0,78347268.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Release Date: December 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Apply some EDA

Drop the column of Estiamte Base

Rename Unnamed: 0 as 'Geographic Area'

"smart" converting of columns(.convert_dtypes()) Google it. Use at your own risk

.dropna() to drop records with NaN

You can also suggest any change that can be helpful for EDA

In [32]:
censusdata.rename(columns = {'Unnamed: 0' : 'Geographic Area'} , inplace = True )
censusdata = censusdata.drop(columns = ['Estimates Base','Census'])
censusdata.dropna()

,Geographic Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,309321666.00,311556874.00,313830990.00,315993715.00,318301008.00,320635163.00,322941311.00,324985539.00,326687501.00,328239523.00
1,Northeast,55380134.00,55604223.00,55775216.00,55901806.00,56006011.00,56034684.00,56042330.00,56059240.00,56046620.00,55982803.00
2,Midwest,66974416.00,67157800.00,67336743.00,67560379.00,67745167.00,67860583.00,67987540.00,68126781.00,68236628.00,68329004.00
3,South,114866680.00,116006522.00,117241208.00,118364400.00,119624037.00,120997341.00,122351760.00,123542189.00,124569433.00,125580448.00
4,West,72100436.00,72788329.00,73477823.00,74167130.00,74925793.00,75742555.00,76559681.00,77257329.00,77834820.00,78347268.00
...,...,...,...,...,...,...,...,...,...,...,...
52,.Washington,6742830.00,6826627.00,6897058.00,6963985.00,7054655.00,7163657.00,7294771.00,7423362.00,7523869.00,7614893.00
53,.West Virginia,1854239.00,1856301.00,1856872.00,1853914.00,1849489.00,1842050.00,1831023.00,1817004.00,1804291.00,1792147.00
54,.Wisconsin,5690475.00,5705288.00,5719960.00,5736754.00,5751525.00,5760940.00,5772628.00,5790186.00,5807406.00,5822434.00
55,.Wyoming,564487.00,567299.00,576305.00,582122.00,582531.00,585613.00,584215.00,578931.00,577601.00,578759.00
57,Puerto Rico,3721525.00,3678732.00,3634488.00,3593077.00,3534874.00,3473232.00,3406672.00,3325286.00,3193354.00,3193694.00

In [35]:
censusdata = censusdata.dropna()

In [63]:

censusdata["Geographic Area"] = censusdata["Geographic Area"].str.replace(".", "")
censusdata

C:\Users\zafar\AppData\Local\Temp\ipykernel_5728\3101772336.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  censusdata["Geographic Area"] = censusdata["Geographic Area"].str.replace(".", "")
C:\Users\zafar\AppData\Local\Temp\ipykernel_5728\3101772336.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  censusdata["Geographic Area"] = censusdata["Geographic Area"].str.replace(".", "")

,Geographic Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,309321666.00,311556874.00,313830990.00,315993715.00,318301008.00,320635163.00,322941311.00,324985539.00,326687501.00,328239523.00
1,Northeast,55380134.00,55604223.00,55775216.00,55901806.00,56006011.00,56034684.00,56042330.00,56059240.00,56046620.00,55982803.00
2,Midwest,66974416.00,67157800.00,67336743.00,67560379.00,67745167.00,67860583.00,67987540.00,68126781.00,68236628.00,68329004.00
3,South,114866680.00,116006522.00,117241208.00,118364400.00,119624037.00,120997341.00,122351760.00,123542189.00,124569433.00,125580448.00
4,West,72100436.00,72788329.00,73477823.00,74167130.00,74925793.00,75742555.00,76559681.00,77257329.00,77834820.00,78347268.00
...,...,...,...,...,...,...,...,...,...,...,...
52,Washington,6742830.00,6826627.00,6897058.00,6963985.00,7054655.00,7163657.00,7294771.00,7423362.00,7523869.00,7614893.00
53,West Virginia,1854239.00,1856301.00,1856872.00,1853914.00,1849489.00,1842050.00,1831023.00,1817004.00,1804291.00,1792147.00
54,Wisconsin,5690475.00,5705288.00,5719960.00,5736754.00,5751525.00,5760940.00,5772628.00,5790186.00,5807406.00,5822434.00
55,Wyoming,564487.00,567299.00,576305.00,582122.00,582531.00,585613.00,584215.00,578931.00,577601.00,578759.00
57,Puerto Rico,3721525.00,3678732.00,3634488.00,3593077.00,3534874.00,3473232.00,3406672.00,3325286.00,3193354.00,3193694.00

In [37]:
# census 2020s data

census2020 = pd.read_csv('C:\\Users\\zafar\\Downloads\\KM_notebook\\NST-EST2022-POP.csv', header=3 ,thousands = ',')
census2020

,Unnamed: 0,Unnamed: 1,2020,2021,2022
0,United States,331449520.00,331511512.00,332031554.00,333287557.00
1,Northeast,57609156.00,57448898.00,57259257.00,57040406.00
2,Midwest,68985537.00,68961043.00,68836505.00,68787595.00
3,South,126266262.00,126450613.00,127346029.00,128716192.00
4,West,78588565.00,78650958.00,78589763.00,78743364.00
...,...,...,...,...,...
58,Note: The estimates are developed from a base ...,NaN,NaN,NaN,NaN
59,Suggested Citation:,NaN,NaN,NaN,NaN
60,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN
61,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN
62,Release Date: December 2022,NaN,NaN,NaN,NaN

In [38]:
# perform EDA Here as did on 2010s census data
census2020.rename(columns = {'Unnamed: 0' : 'Geographic Area'} , inplace = True )
census2020 = census2020.drop(columns = ['Unnamed: 1'])
census2020 = census2020.dropna()

In [59]:
census2020["Geographic Area"] = census2020["Geographic Area"].str.replace(".", "")
census2020

C:\Users\zafar\AppData\Local\Temp\ipykernel_5728\298234216.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  census2020["Geographic Area"] = census2020["Geographic Area"].str.replace(".", "")

   Geographic Area         2020         2021         2022
0    United States 331511512.00 332031554.00 333287557.00
1        Northeast  57448898.00  57259257.00  57040406.00
2          Midwest  68961043.00  68836505.00  68787595.00
3            South 126450613.00 127346029.00 128716192.00
4             West  78650958.00  78589763.00  78743364.00
..             ...          ...          ...          ...
52      Washington   7724031.00   7740745.00   7785786.00
53   West Virginia   1791420.00   1785526.00   1775156.00
54       Wisconsin   5896271.00   5880101.00   5892539.00
55         Wyoming    577605.00    579483.00    581381.00
57     Puerto Rico   3281557.00   3262693.00   3221789.00

[57 rows x 4 columns]



# Join Data (Merge DataFrames)


Time to `merge`! Here I use the DataFrame method `df1.merge(right=df2, ...)` on DataFrame `df1` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)). Contrast this with the function `pd.merge(left=df1, right=df2, ...)` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.merge.html?highlight=pandas%20merge#pandas.merge)). Feel free to use either.

In [64]:
# merge TB dataframe with two US census dataframes
merg=pd.merge(censusdata,census2020 , left_on="Geographic Area", right_on="Geographic Area")
merg

,Geographic Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,United States,309321666.00,311556874.00,313830990.00,315993715.00,318301008.00,320635163.00,322941311.00,324985539.00,326687501.00,328239523.00,331511512.00,332031554.00,333287557.00
1,Northeast,55380134.00,55604223.00,55775216.00,55901806.00,56006011.00,56034684.00,56042330.00,56059240.00,56046620.00,55982803.00,57448898.00,57259257.00,57040406.00
2,Midwest,66974416.00,67157800.00,67336743.00,67560379.00,67745167.00,67860583.00,67987540.00,68126781.00,68236628.00,68329004.00,68961043.00,68836505.00,68787595.00
3,South,114866680.00,116006522.00,117241208.00,118364400.00,119624037.00,120997341.00,122351760.00,123542189.00,124569433.00,125580448.00,126450613.00,127346029.00,128716192.00
4,West,72100436.00,72788329.00,73477823.00,74167130.00,74925793.00,75742555.00,76559681.00,77257329.00,77834820.00,78347268.00,78650958.00,78589763.00,78743364.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,Washington,6742830.00,6826627.00,6897058.00,6963985.00,7054655.00,7163657.00,7294771.00,7423362.00,7523869.00,7614893.00,7724031.00,7740745.00,7785786.00
53,West Virginia,1854239.00,1856301.00,1856872.00,1853914.00,1849489.00,1842050.00,1831023.00,1817004.00,1804291.00,1792147.00,1791420.00,1785526.00,1775156.00
54,Wisconsin,5690475.00,5705288.00,5719960.00,5736754.00,5751525.00,5760940.00,5772628.00,5790186.00,5807406.00,5822434.00,5896271.00,5880101.00,5892539.00
55,Wyoming,564487.00,567299.00,576305.00,582122.00,582531.00,585613.00,584215.00,578931.00,577601.00,578759.00,577605.00,579483.00,581381.00
56,Puerto Rico,3721525.00,3678732.00,3634488.00,3593077.00,3534874.00,3473232.00,3406672.00,3325286.00,3193354.00,3193694.00,3281557.00,3262693.00,3221789.00

In [65]:
# merge TB dataframe with two US census dataframes
mreg=pd.merge(left=tuberculosis ,right=merg , left_on ="U.S. jurisdiction", right_on="Geographic Area" )

In [66]:
mreg

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,Geographic Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,87,72,92,1.77,1.43,1.83,Alabama,4785437.00,4799069.00,4815588.00,4830081.00,4841799.00,4852347.00,4863525.00,4874486.00,4887681.00,4903185.00,5031362.00,5049846.00,5074296.00
1,Alaska,58,58,58,7.91,7.92,7.92,Alaska,713910.00,722128.00,730443.00,737068.00,736283.00,737498.00,741456.00,739700.00,735139.00,731545.00,732923.00,734182.00,733583.00
2,Arizona,183,136,129,2.51,1.89,1.77,Arizona,6407172.00,6472643.00,6554978.00,6632764.00,6730413.00,6829676.00,6941072.00,7044008.00,7158024.00,7278717.00,7179943.00,7264877.00,7359197.00
3,Arkansas,64,59,69,2.12,1.96,2.28,Arkansas,2921964.00,2940667.00,2952164.00,2959400.00,2967392.00,2978048.00,2989918.00,3001345.00,3009733.00,3017804.00,3014195.00,3028122.00,3045637.00
4,California,2111,1706,1750,5.35,4.32,4.46,California,37319502.00,37638369.00,37948800.00,38260787.00,38596972.00,38918045.00,39167117.00,39358497.00,39461588.00,39512223.00,39501653.00,39142991.00,39029342.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,Virginia,191,169,161,2.23,1.96,1.86,Virginia,8023699.00,8101155.00,8185080.00,8252427.00,8310993.00,8361808.00,8410106.00,8463587.00,8501286.00,8535519.00,8636471.00,8657365.00,8683619.00
47,Washington,221,163,199,2.90,2.11,2.57,Washington,6742830.00,6826627.00,6897058.00,6963985.00,7054655.00,7163657.00,7294771.00,7423362.00,7523869.00,7614893.00,7724031.00,7740745.00,7785786.00
48,West Virginia,9,13,7,0.50,0.73,0.39,West Virginia,1854239.00,1856301.00,1856872.00,1853914.00,1849489.00,1842050.00,1831023.00,1817004.00,1804291.00,1792147.00,1791420.00,1785526.00,1775156.00
49,Wisconsin,51,35,66,0.88,0.59,1.12,Wisconsin,5690475.00,5705288.00,5719960.00,5736754.00,5751525.00,5760940.00,5772628.00,5790186.00,5807406.00,5822434.00,5896271.00,5880101.00,5892539.00
50,Wyoming,1,0,3,0.17,0.00,0.52,Wyoming,564487.00,567299.00,576305.00,582122.00,582531.00,585613.00,584215.00,578931.00,577601.00,578759.00,577605.00,579483.00,581381.00

This is a little unwieldy. We could either drop the unneeded columns now, or just merge on smaller census DataFrames. Let's do the latter.

In [ ]:
# try merging again, but cleaner this time


## Reproduce incidence

Let's recompute incidence to make sure we know where the original CDC numbers came from.

From the [CDC report](https://www.cdc.gov/mmwr/volumes/71/wr/mm7112a1.htm?s_cid=mm7112a1_w#T1_down): TB incidence is computed as “Cases per 100,000 persons using mid-year population estimates from the U.S. Census Bureau.”

If we define a group as 100,000 people, then we can compute the TB incidence for a given state population as

$$\text{TB incidence} = \frac{\text{# TB cases in population}}{\text{# groups in population}} = \frac{\text{# TB cases in population}}{\text{population}/100000} $$

$$= \frac{\text{# TB cases in population}}{\text{population}} \times 100000$$

Let's try this for 2019:

In [70]:
mreg["recompute incidence 2019"] = mreg["TB cases 2019"]/mreg["2019"]*100000
mreg

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,Geographic Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,recompute incidence 2019
0,Alabama,87,72,92,1.77,1.43,1.83,Alabama,4785437.00,4799069.00,4815588.00,4830081.00,4841799.00,4852347.00,4863525.00,4874486.00,4887681.00,4903185.00,5031362.00,5049846.00,5074296.00,1.77
1,Alaska,58,58,58,7.91,7.92,7.92,Alaska,713910.00,722128.00,730443.00,737068.00,736283.00,737498.00,741456.00,739700.00,735139.00,731545.00,732923.00,734182.00,733583.00,7.93
2,Arizona,183,136,129,2.51,1.89,1.77,Arizona,6407172.00,6472643.00,6554978.00,6632764.00,6730413.00,6829676.00,6941072.00,7044008.00,7158024.00,7278717.00,7179943.00,7264877.00,7359197.00,2.51
3,Arkansas,64,59,69,2.12,1.96,2.28,Arkansas,2921964.00,2940667.00,2952164.00,2959400.00,2967392.00,2978048.00,2989918.00,3001345.00,3009733.00,3017804.00,3014195.00,3028122.00,3045637.00,2.12
4,California,2111,1706,1750,5.35,4.32,4.46,California,37319502.00,37638369.00,37948800.00,38260787.00,38596972.00,38918045.00,39167117.00,39358497.00,39461588.00,39512223.00,39501653.00,39142991.00,39029342.00,5.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,Virginia,191,169,161,2.23,1.96,1.86,Virginia,8023699.00,8101155.00,8185080.00,8252427.00,8310993.00,8361808.00,8410106.00,8463587.00,8501286.00,8535519.00,8636471.00,8657365.00,8683619.00,2.24
47,Washington,221,163,199,2.90,2.11,2.57,Washington,6742830.00,6826627.00,6897058.00,6963985.00,7054655.00,7163657.00,7294771.00,7423362.00,7523869.00,7614893.00,7724031.00,7740745.00,7785786.00,2.90
48,West Virginia,9,13,7,0.50,0.73,0.39,West Virginia,1854239.00,1856301.00,1856872.00,1853914.00,1849489.00,1842050.00,1831023.00,1817004.00,1804291.00,1792147.00,1791420.00,1785526.00,1775156.00,0.50
49,Wisconsin,51,35,66,0.88,0.59,1.12,Wisconsin,5690475.00,5705288.00,5719960.00,5736754.00,5751525.00,5760940.00,5772628.00,5790186.00,5807406.00,5822434.00,5896271.00,5880101.00,5892539.00,0.88
50,Wyoming,1,0,3,0.17,0.00,0.52,Wyoming,564487.00,567299.00,576305.00,582122.00,582531.00,585613.00,584215.00,578931.00,577601.00,578759.00,577605.00,579483.00,581381.00,0.17

Awesome!!!

Let's use a for-loop and Python format strings to compute TB incidence for all years. Python f-strings are just used for the purposes of this demo, but they're handy to know when you explore data beyond this course ([Python documentation](https://docs.python.org/3/tutorial/inputoutput.html)).

In [71]:
years= [2019, 2020, 2021]
for year in years:
    mreg[f"recompute incidence {year}"]= mreg[f"TB cases {year}"]/mreg[str(year)]*100000
mreg

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,Geographic Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,recompute incidence 2019,recompute incidence 2020,recompute incidence 2021
0,Alabama,87,72,92,1.77,1.43,1.83,Alabama,4785437.00,4799069.00,4815588.00,4830081.00,4841799.00,4852347.00,4863525.00,4874486.00,4887681.00,4903185.00,5031362.00,5049846.00,5074296.00,1.77,1.43,1.82
1,Alaska,58,58,58,7.91,7.92,7.92,Alaska,713910.00,722128.00,730443.00,737068.00,736283.00,737498.00,741456.00,739700.00,735139.00,731545.00,732923.00,734182.00,733583.00,7.93,7.91,7.90
2,Arizona,183,136,129,2.51,1.89,1.77,Arizona,6407172.00,6472643.00,6554978.00,6632764.00,6730413.00,6829676.00,6941072.00,7044008.00,7158024.00,7278717.00,7179943.00,7264877.00,7359197.00,2.51,1.89,1.78
3,Arkansas,64,59,69,2.12,1.96,2.28,Arkansas,2921964.00,2940667.00,2952164.00,2959400.00,2967392.00,2978048.00,2989918.00,3001345.00,3009733.00,3017804.00,3014195.00,3028122.00,3045637.00,2.12,1.96,2.28
4,California,2111,1706,1750,5.35,4.32,4.46,California,37319502.00,37638369.00,37948800.00,38260787.00,38596972.00,38918045.00,39167117.00,39358497.00,39461588.00,39512223.00,39501653.00,39142991.00,39029342.00,5.34,4.32,4.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,Virginia,191,169,161,2.23,1.96,1.86,Virginia,8023699.00,8101155.00,8185080.00,8252427.00,8310993.00,8361808.00,8410106.00,8463587.00,8501286.00,8535519.00,8636471.00,8657365.00,8683619.00,2.24,1.96,1.86
47,Washington,221,163,199,2.90,2.11,2.57,Washington,6742830.00,6826627.00,6897058.00,6963985.00,7054655.00,7163657.00,7294771.00,7423362.00,7523869.00,7614893.00,7724031.00,7740745.00,7785786.00,2.90,2.11,2.57
48,West Virginia,9,13,7,0.50,0.73,0.39,West Virginia,1854239.00,1856301.00,1856872.00,1853914.00,1849489.00,1842050.00,1831023.00,1817004.00,1804291.00,1792147.00,1791420.00,1785526.00,1775156.00,0.50,0.73,0.39
49,Wisconsin,51,35,66,0.88,0.59,1.12,Wisconsin,5690475.00,5705288.00,5719960.00,5736754.00,5751525.00,5760940.00,5772628.00,5790186.00,5807406.00,5822434.00,5896271.00,5880101.00,5892539.00,0.88,0.59,1.12
50,Wyoming,1,0,3,0.17,0.00,0.52,Wyoming,564487.00,567299.00,576305.00,582122.00,582531.00,585613.00,584215.00,578931.00,577601.00,578759.00,577605.00,579483.00,581381.00,0.17,0.00,0.52

In [19]:
# recompute incidence for all years (2019, 2020, 2021)
years= [2019, 2020, 2021]
for year in years:
    mrg[f"recompute incidence {year}"]= mrg[f"TB cases {year}"]/mrg[str(year)]*100000
mrg

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,Geographic Area_x,2010,2011,...,2017,2018,2019,Geographic Area_y,2020,2021,2022,recompute incidence 2019,recompute incidence 2020,recompute incidence 2021
0,Alabama,87,72,92,1.77,1.43,1.83,Alabama,4785437,4799069,...,4874486,4887681,4903185,Alabama,5031362,5049846,5074296,1.774357,1.431024,1.821838
1,Alaska,58,58,58,7.91,7.92,7.92,Alaska,713910,722128,...,739700,735139,731545,Alaska,732923,734182,733583,7.928425,7.913519,7.899949
2,Arizona,183,136,129,2.51,1.89,1.77,Arizona,6407172,6472643,...,7044008,7158024,7278717,Arizona,7179943,7264877,7359197,2.514179,1.894165,1.775667
3,Arkansas,64,59,69,2.12,1.96,2.28,Arkansas,2921964,2940667,...,3001345,3009733,3017804,Arkansas,3014195,3028122,3045637,2.120747,1.957405,2.27864
4,California,2111,1706,1750,5.35,4.32,4.46,California,37319502,37638369,...,39358497,39461588,39512223,California,39501653,39142991,39029342,5.342651,4.318807,4.470788
5,Colorado,66,52,58,1.15,0.90,1.00,Colorado,5047349,5121108,...,5611885,5691287,5758736,Colorado,5784865,5811297,5839926,1.146085,0.898897,0.998056
6,Connecticut,67,54,54,1.88,1.50,1.50,Connecticut,3579114,3588283,...,3573297,3571520,3565287,Connecticut,3597362,3623355,3626205,1.879232,1.5011,1.490331
7,Delaware,18,17,43,1.84,1.71,4.29,Delaware,899593,907381,...,956823,965479,973764,Delaware,992114,1004807,1018396,1.848497,1.713513,4.279429
8,District of Columbia,24,19,19,3.39,2.75,2.84,District of Columbia,605226,619800,...,694906,701547,705749,District of Columbia,670868,668791,671803,3.400642,2.832152,2.840947
9,Florida,558,412,499,2.60,1.91,2.29,Florida,18845537,19053237,...,20963613,21244317,21477737,Florida,21589602,21828069,22244823,2.598039,1.908326,2.286047
10,Georgia,302,221,228,2.84,2.06,2.11,Georgia,9711881,9802431,...,10410330,10511131,10617423,Georgia,10729828,10788029,10912876,2.844381,2.059679,2.113454
11,Hawaii,99,92,106,6.99,6.34,7.35,Hawaii,1363963,1379329,...,1424393,1420593,1415872,Hawaii,1451043,1447154,1440196,6.992157,6.340267,7.324721
12,Idaho,7,8,4,0.39,0.43,0.21,Idaho,1570746,1583910,...,1717715,1750536,1787065,Idaho,1849202,1904314,1939033,0.391704,0.432619,0.210049
13,Illinois,326,216,255,2.57,1.69,2.01,Illinois,12840503,12867454,...,12778828,12723071,12671821,Illinois,12786580,12686469,12582032,2.572637,1.689271,2.010016
14,Indiana,108,92,127,1.60,1.36,1.87,Indiana,6490432,6516528,...,6658078,6695497,6732219,Indiana,6788799,6813532,6833037,1.604226,1.355173,1.863938
15,Iowa,52,39,49,1.65,1.22,1.53,Iowa,3050745,3066336,...,3141550,3148618,3155070,Iowa,3190571,3197689,3200517,1.648141,1.222352,1.532357
16,Kansas,37,37,43,1.27,1.26,1.47,Kansas,2858190,2869225,...,2908718,2911359,2913314,Kansas,2937919,2937922,2937150,1.270031,1.259395,1.46362
17,Kentucky,66,67,57,1.48,1.49,1.26,Kentucky,4348181,4369821,...,4452268,4461153,4467673,Kentucky,4507445,4506589,4512310,1.477279,1.48643,1.264815
18,Louisiana,88,99,86,1.89,2.13,1.86,Louisiana,4544532,4575625,...,4670560,4659690,4648794,Louisiana,4651664,4627098,4590241,1.892964,2.128271,1.858616
19,Maine,18,17,14,1.34,1.25,1.02,Maine,1327629,1328284,...,1334612,1339057,1344212,Maine,1363557,1377238,1385340,1.339074,1.246739,1.016527
20,Maryland,209,148,192,3.45,2.40,3.11,Maryland,5788645,5839419,...,6023868,6035802,6045680,Maryland,6173205,6174610,6164660,3.457014,2.397458,3.109508
21,Massachusetts,178,142,151,2.58,2.02,2.16,Massachusetts,6566307,6613583,...,6859789,6882635,6892503,Massachusetts,6995729,6989690,6981974,2.582516,2.02981,2.160325
22,Michigan,131,101,136,1.31,1.00,1.35,Michigan,9877510,9882412,...,9973114,9984072,9986857,Michigan,10069577,10037504,10034113,1.311724,1.003021,1.354919
23,Minnesota,148,117,134,2.62,2.05,2.35,Minnesota,5310828,5346143,...,5566230,5606249,5639632,Minnesota,5709852,5711471,5717184,2.624285,2.04909,2.346156
24,Mississippi,58,41,45,1.95,1.39,1.53,Mississippi,2970548,2978731,...,2988510,2981020,2976149,Mississippi,2958141,2949586,2940057,1.948827,1.386006,1.525638
25,Missouri,70,79,77,1.14,1.28,1.25,Missouri,5995974,6010275,...,6106670,6121623,6137428,Missouri,6153998,6169823,6177957,1.140543,1.283718,1.24801
26,Montana,2,4,3,0.19,0.37,0.27,Montana,990697,997316,...,1052482,1060665,1068778,Montana,1087075,1106227,1122867,0.18713,0.36796,0.271192
27,Nebraska,17,33,22,0.88,1.68,1.12,Nebraska,1829542,1840672,...,1915947,1925614,1934408,Nebraska,1962642,1963554,1967923,0.878822,1.681407,1.120417
28,Nevada,53,57,61,1.71,1.83,1.94,Nevada,2702405,2712730,...,2969905,3027341,3080156,Nevada,3115648,3146402,3177772,1.720692,1.829475,1.938722
29,New Hampshire,6,12,12,0.44,0.87,0.86,New Hampshire,1316762,1320202,...,1348787,1353465,1359711,New Hampshire,1378587,1387505,1395231,0.44127,0.870456,0.864862
30,New Jersey,310,245,279,3.49,2.64,3.01,New Jersey,8799446,8828117,...,8885525,8886025,8882190,New Jersey,9271689,9267961,9261699,3.49013,2.642453,3.010371
31,New Mexico,41,29,24,1.95,1.37,1.13,New Mexico,2064552,2080450,...,2091784,2092741,2096829,New Mexico,2118390,2116677,2113344,1.955334,1.368964,1.133853
32,New York,746,605,681,3.83,3.00,3.43,New York,19399878,19499241,...,19589572,19530351,19453561,New York,20108296,19857492,19677151,3.834773,3.008708,3.429436
33,North Carolina,185,159,178,1.76,1.52,1.69,North Carolina,9574323,9657592,...,10268233,10381615,10488084,North Carolina,10449445,10565885,10698973,1.763907,1.521612,1.684667
34,North Dakota,18,10,15,2.36,1.28,1.94,North Dakota,674715,685225,...,754942,758080,762062,North Dakota,779518,777934,779261,2.362013,1.282844,1.928184
35,Ohio,150,130,149,1.28,1.10,1.26,Ohio,11539336,11544663,...,11659650,11676341,11689100,Ohio,11797517,11764342,11756058,1.283247,1.101927,1.266539
36,Oklahoma,73,67,69,1.84,1.69,1.73,Oklahoma,3759944,3788379,...,3931316,3940235,3956971,Oklahoma,3964912,3991225,4019800,1.844845,1.689823,1.728793
37,Oregon,70,67,78,1.66,1.58,1.84,Oregon,3837491,3872036,...,4143625,4181886,4217737,Oregon,4244795,4256301,4240137,1.659658,1.578404,1.832577
38,Pennsylvania,199,156,166,1.55,1.20,1.28,Pennsylvania,12711160,12745815,...,12787641,12800922,12801989,Pennsylvania,12994440,13012059,12972008,1.554446,1.200513,1.27574
39,Rhode Island,14,7,17,1.32,0.64,1.55,Rhode Island,1053959,1053649,...,1055673,1058287,1059361,Rhode Island,1096345,1096985,1093734,1.321551,0.638485,1.549702
40,South Carolina,80,67,88,1.55,1.31,1.70,South Carolina,4635649,4671994,...,5021268,5084156,5148714,South Carolina,5131848,5193266,5282634,1.553786,1.305573,1.694502
41,South Dakota,16,16,12,1.80,1.80,1.34,South Dakota,816166,823579,...,872868,878698,884659,South Dakota,887799,896164,909824,1.808606,1.80221,1.339041
42,Tennessee,129,113,85,1.89,1.63,1.22,Tennessee,6355311,6399291,...,6708799,6771631,6829174,Tennessee,6925619,6968351,7051339,1.888955,1.631623,1.219801
43,Texas,1154,883,991,3.98,3.02,3.36,Texas,25241971,25645629,...,28295273,28628666,28995881,Texas,29232474,29558864,30029572,3.979876,3.020613,3.352632
44,Utah,27,29,17,0.84,0.88,0.51,Utah,2775332,2814384,...,3101042,3153550,3205958,Utah,3283785,3339113,3380800,0.842182,0.883127,0.509117
45,Vermont,4,3,2,0.64,0.47,0.31,Vermont,625879,627049,...,624344,624358,623989,Vermont,642893,646972,647064,0.641037,0.466641,0.309132
46,Virginia,191,169,161,2.23,1.96,1.86,Virginia,8023699,8101155,...,8463587,8501286,8535519,Virginia,8636471,8657365,8683619,2.237708,1.956818,1.859688
47,Washington,221,163,199,2.90,2.11,2.57,Washington,6742830,6826627,...,7423362,7523869,7614893,Washington,7724031,7740745,7785786,2.902208,2.110297,2.570812
48,West Virginia,9,13,7,0.50,0.73,0.39,West Virginia,1854239,1856301,...,1817004,1804291,1792147,West Virginia,1791420,1785526,1775156,0.502191,0.725681,0.392041
49,Wisconsin,51,35,66,0.88,0.59,1.12,Wisconsin,5690475,5705288,...,5790186,5807406,5822434,Wisconsin,5896271,5880101,5892539,0.875922,0.593596,1.12243
50,Wyoming,1,0,3,0.17,0.00,0.52,Wyoming,564487,567299,...,578931,577601,578759,Wyoming,577605,579483,581381,0.172783,0.0,0.517703

These numbers look pretty close!!! There are a few errors in the hundredths place, particularly in 2021. It may be useful to further explore reasons behind this discrepancy. We'll leave it to you!

In [72]:
mreg.describe()

,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,recompute incidence 2019,recompute incidence 2020,recompute incidence 2021
count,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00,51.00
mean,174.51,140.65,154.12,2.10,1.78,1.97,6065130.71,6108958.31,6153548.82,6195955.20,6241196.24,6286963.98,6332182.57,6372265.47,6405637.27,6436069.08,6500225.73,6510422.63,6535050.14,2.10,1.78,1.97
std,341.74,271.06,286.78,1.50,1.34,1.48,6838021.59,6901809.62,6967072.87,7029240.83,7100271.24,7172361.33,7235903.90,7288669.59,7327257.81,7360660.47,7408168.46,7394300.08,7423508.19,1.50,1.34,1.47
min,1.00,0.00,2.00,0.17,0.00,0.21,564487.00,567299.00,576305.00,582122.00,582531.00,585613.00,584215.00,578931.00,577601.00,578759.00,577605.00,579483.00,581381.00,0.17,0.00,0.21
25%,25.50,29.00,23.00,1.29,1.21,1.23,1700144.00,1712291.00,1724313.50,1732560.00,1740300.50,1746554.50,1756701.50,1767359.50,1777413.50,1789606.00,1820311.00,1844920.00,1857094.50,1.30,1.21,1.23
50%,70.00,67.00,69.00,1.80,1.52,1.70,4348181.00,4369821.00,4386346.00,4404659.00,4414349.00,4425976.00,4438182.00,4452268.00,4461153.00,4467673.00,4507445.00,4506589.00,4512310.00,1.81,1.52,1.69
75%,180.50,139.00,150.00,2.58,1.99,2.22,6654568.50,6720105.00,6780031.50,6838650.00,6908625.50,6996666.50,7117921.50,7233685.00,7340946.50,7446805.00,7451987.00,7502811.00,7572491.50,2.58,1.99,2.22
max,2111.00,1706.00,1750.00,7.91,7.92,7.92,37319502.00,37638369.00,37948800.00,38260787.00,38596972.00,38918045.00,39167117.00,39358497.00,39461588.00,39512223.00,39501653.00,39142991.00,39029342.00,7.93,7.91,7.90